
.movie-card {
    background-color: #1E2127;
    flex-direction: column;
    display: flex;
    padding: 36px;
    box-sizing: border-box;
    max-width: 400px;
    border-radius: 5px;
}

.movie-title {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 16px;
}

.movie-card-img {
    width: 326px;
    height: 476px;
}

.movie-description {
    font-size: 15px;
    height: 24px;
    width: 328px;
    color: #BEC2CC;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 28px;
}

.movie-description:hover{
    overflow: hidden;
}

.link-box {
    margin-bottom: 24px;
    width: 192px;
    font-size: 18px;
}

.link {
    margin-left: 12px;
    display: inline-flex;
}

.line-main {
    height: 1px;
    background: #30333A;
    border: 0;
    margin-bottom: 21px;
    margin-top: 25px;
}

#index-title {
    color: #0376E3 !important;
}