.reg-block {
    background-color: #1E2127;
    font-family: Archivo;
    width: 430px;
    height: 529px;
    margin: auto;
    
}

.form-label {
    color: #BEC2CC;
    font-size: 15px;
    margin-left: 48px;
}

.form-control {
    width: 285px !important;
    margin-left: 48px;
}

.title {
    font-size: 38px;
    color: #FFFFFF;
    text-align: center;
}

.subtitle {
    font-size: 15px;
    color: #828D99;
    text-align: center;
}

.register-btn {
    width: 124px !important;
    
}
