.genre-title {
    color: #FFFFFF;
    font-size: 11px;
    margin: 50px;
    margin-left: 82px;
}

#movie-title {
    width: 80%;
    margin-top: 0 !important;
}

.info-mv {
    color:#828D99;
    font-size: 11px;
    width: 169px;
    font-weight: 600;
    margin-bottom: 24px;
}

.info-links {
    margin-left: 82px;
    margin-bottom: 39px;
    margin-top: 24px;
}

.fav {
    display: inline-flex;
    align-items: center;
    margin-right: 82px;
}

.fav-icon {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}    

.movie-img {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dir-line {
    margin: 24px 82px;
    padding: 24px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
}
