.movie-sub-card-img {
    width: 140px;
    height: 207px;
}

.movie-sub-card-title {
    font-size: 11px;
    width: 140px;
    color: #FFFFFF;
    margin-top: 11px;
}

.movie-sub-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin: 24px auto;
    place-items: center;
  
}

.movie-sub-card {
    flex-direction: column;
    display: flex;
    padding: 36px;
    box-sizing: border-box;
    max-width: 400px;
    border-radius: 5px;
}