#index-title {
    font-size: 20px;
    font-family: Archivo;
    color: #FFFFFF;
    height: 30px;
    width: 178px;
    padding-left: 31px;
    padding-top: 13px;
    position: absolute;
}

html, body {
    background-color: #1B1D24;
    font-family: Archivo;
}